
<select id="inputTerapeuta" class="form-control"  (ngModelChange)="getSchedule($event)" [(ngModel)]="therapistId" name="therapist">
  <option *ngFor="let therapist of therapists" [value]="therapist.Id">
      {{therapist.Name}}
  </option>
</select>

<br>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="pon" (click)="dayOfTheWeek('Monday')">Poniedziałek</mat-button-toggle>
    <mat-button-toggle value="wt" (click)="dayOfTheWeek('Tuesday')">Wtorek</mat-button-toggle>
    <mat-button-toggle value="sr" (click)="dayOfTheWeek('Wednesday')">środa</mat-button-toggle>
    <mat-button-toggle value="czw" (click)="dayOfTheWeek('Thursday')">Czwartek</mat-button-toggle>
    <mat-button-toggle value="pt" (click)="dayOfTheWeek('Friday')">Piątek</mat-button-toggle>
</mat-button-toggle-group>

<br>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="hour">
        <!-- element.Date -->
      <th mat-header-cell *matHeaderCellDef> Godzina terapii </th>
      <td mat-cell *matCellDef="let element"> {{element.Date | date:'hh:mm'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa Klienta </th>
      <!-- element.Client.Name -->
      <td mat-cell *matCellDef="let element"> {{element.Client.Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Opis </th>
      <td mat-cell *matCellDef="let element">  
        <span class="table-edit">
          <button mat-raised-button (click)="openDialog(element)">Dodaj opis terapii</button> 
        </span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="archiwum">
      <th mat-header-cell *matHeaderCellDef> Archiwum terapii </th>
      <td mat-cell *matCellDef="let element"> 
          <span class="table-edit">
            <button mat-raised-button (click)="openDialogShowTherapies(element, element.ClientId, element.TherapistId)">Archiwum terapii</button> 
          </span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>